* {
 margin: 0;
 padding: 0;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.active {
  font-weight: 700;
  color: white;
}

header {
  background-color: rgb(255, 0, 85);
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.title-profile {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.title-profile h3 {
  background-color: aliceblue;
  color: rgb(255, 0, 85);
  width: 180px;
  padding: 7px;
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: rgb(184, 184, 184);
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.cardAlbum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.minCardAlbum {
  border: 2px solid rgb(255, 0, 85);
  width: 280px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  margin: 10px;
}